/* ----------FONT DEFINITION---------- */

@font-face {
	font-family: 'Poppins';
	src: url('Poppins/Poppins-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('Poppins/Poppins-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('Poppins/Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('Poppins/Poppins-Thin.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

/* ----------GLOBAL RESET & SAFETY---------- */

html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
	


/* ----------BODY STYLING---------- */

	

body {
	font-family: 'Poppins', sans-serif; 
	text-align: center;
	margin: 0;
	padding: 50px;
	background: url("resources/Bg_photo.png") no-repeat center center fixed;
	background-size: 100% 100%;
	position: relative;
	color: #333;
}

body::before {
	content="";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.6);
	z-index: -1;
}

/* ----------MAIN MAP IMAGE---------- */

.main-image {
	width:900px;
	max-width: 95vw;
	height: auto;
	margin: 10px auto;
	display: block;
	cursor: crosshair;
}

/* ----------NAVIGATION BUTTONS---------- */

.container-btn {
	white-space: wrap;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 50px;
	margin-top: 30px;
}

.nav-btn {
	background: linear-gradient(to right, #a11e00, #f09819);
	color: white;
	width: 400px;
	min-height: 48px;
	padding: 15px 40px;
	border: none;
	border-radius: 50px;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 22px;
	cursor: pointer;
	text-shadow: 2px 2px 5px #1C1717;
	box-shadow: 0px 4px 11px rgba(0,0,0,0.6);
	transition: transform 0.2s, box-shadow 0.2s;
	justify-content: center;
}

.nav-btn:hover {
	transform: scale(1.05);
	box-shadow: 0px 6px 15px rgba(0,0,0,0.6);
}

/* ----------TOP HEADER---------- */
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: linear-gradient(to right, #c98d1f, #6e1c0d);
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	padding: 0 0;
	box-shadow: 0 3px 5px rgba(0,0,0,0.5);
	z-index: 1000;
}

/* ----------DIRECTION BUTTON---------- */

.direction-btn {
	padding: 8px 22px;
	border-radius: 25px;
	border: none;
	background: linear-gradient(to right, #a11e00, #f09819);
	color: white;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.4);
	transition: transform 0.2s, box-shadow 0.2s;
}

.direction-btn:hover {
	transform: scale(1.05);
	box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
}

/* ----------HOME BUTTON---------- */

.home-btn {
	width: 40px;
	height: 40px;
    background: #941800;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s;
    }

.home-btn:hover {
	background: #801919;
	}

.home-image {
	top: 10px;
	max-width: 20px;
	height: auto;
	display: block;
	margin: 0 auto;
}

/* ----------LOGO---------- */

.logo-image {
	padding-top: 20px;
	max-width: 400px;
	height: auto;
	display: block;
	margin: 0 auto;
}

/* ----------map---------- */
.map-wrapper {
	position: relative;
	display: inline-block;
}

/* ----------Marker---------- */
#marker {
	position: absolute;
	width: 12px;
	height: 12px;
	background: red;
	border-radius: 50%;
	display: none;
	transform: translate(-50%, -50%);
}

/* ----------TEXT---------- */
.title {
	margin-bottom: 10px;
}

/* ----------COORDS---------- */
#coords {
	font-size: 18px;
	font-weight:bold;
	color: white;

/*.text-format {
	color: white;
	font-size: 30px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	margin-top: 5px;
}*/
/* ----------LINK RESET---------- */

a {
  display: inline-block;  
  padding: 0;            
  margin: 0;
}

/* ----------MOBILE OPTIMIZATION---------- */

@media (max-width: 768px) {
	.body {
		padding: 20px;
	}
	
	.header {
		height: 45px;
		padding: 0 10px;
	}
	.home-btn {
		width:34px;
		height:34px;
	}
	.home-image{
		max-width:16px;
	}
	
	.directions-btn {
		font-size: 14px;
		padding: 6px 14px;
	}
	.logo-image {
		max-width: 260px;
		margin-top: 50px;
	}
	
	.container-btn {
		gap: 20px;
		flex-direction: column;
	}
	.nav-btn {
		width: 100%;
		max-width: 320px;
		height: auto;
		font-size: 16px;
		padding: 14px 20px;
	}
	.text-format {
		font-size: 20px;
	}

}





















